.wrapper {
	
	text-align:center;
	width:900px;
	margin: 0 auto;
}
h1 {
	font-style: sans-serif;
	margin: 30px;
	padding:30px;
}
#otis {
	list-style-type: none;
	background-color: pink;
}
body {
	background-color: lightgreen;
	background-image: url(images/day_two_hw.jpeg;)
}